*.[oa]
*.aux
*.dvi
*.l[oa]
*.loT
*.log
*.pc
*.pdf
*.spec
*.trs
*~
.deps/
.libs/
/.git-module-status
/ChangeLog
/GNUmakefile
/INSTALL
/TAGS
/aclocal.m4
/autom4te.cache/
/build-aux
/maint.mk
/netcf-[0-9]*.gz
Makefile
Makefile.in
build/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/xml/*.rnc
depcomp
doc/*.png
gnulib/
install-sh
libtool
ltmain.sh
missing
src/datadir.h
src/ncftool
src/ncftool.1
src/ncftransform
src/netcf-transaction.init
src/netcf.syms
stamp-h1
tests/test-debian
tests/test-initscripts
tests/test-redhat
ylwrap
